UID=1000
GID=1000
PORT_FRONTEND=8080
PORT_BACKEND=8082
PORT_MIDDLEWARE=8083
API_BASE_URL=http://localhost:8082/
API_BASE_URL2=http://localhost:8083/
SHOW_API_STATUS=false
_INITDB_ROOT_USERNAME=backend-middleware-user-development
_INITDB_ROOT_PASSWORD=example
_INITDB_DATABASE=backend-middleware-db-development
