@import 'variables';

@mixin color-avatar-modifiers {
  @each $name, $hex in $main-colors {
    &-#{$name} {
      display: table-cell;
      height: 5rem;
      width: 5rem;
      font-size: 2rem;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      background-color: $hex !important;
    }
  }
}

.color-avatar {
  @include color-avatar-modifiers;
}
