@import 'variables';
@import 'texts.scss';
@import 'colors.scss';

@mixin button-modifiers {
  @each $name, $hex in $main-colors {
    &-#{$name} {
      background-color: $hex !important;
      text-transform: uppercase;
    }
  }
}

.button {
  @include button-modifiers;
}

.uppercase {
  text-transform: uppercase;
}

.primary-button {
  @extend .uppercase;
  background-color: map-get($main-colors, 'primary') !important;
  color: white !important;
}

.secondary-button {
  @extend .uppercase;
  background-color: map-get($main-colors, 'secondary') !important;
  color: black !important;
}

.danger-button {
  @extend .uppercase;
  background-color: map-get($main-colors, 'danger') !important;
  color: white !important;
}

.disabled-button {
  @extend .uppercase;
  background-color: #cecece !important;
  color: black !important;
  cursor: not-allowed !important;
}

.profiles-card-toolbar-button {
  background-color: map-get($main-colors, 'white');
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 1.1rem;
  padding-left: 1.1rem;
  border-left: 0.1rem solid lightgray;

  &:hover {
    background-color: darken(map-get($main-colors, 'white'), 3%) !important;
  }
}
