@import './base.css';
@import './tables.scss';
@import './colors.scss';
@import './buttons.scss';
@import './avatar.scss';
@import './texts.scss';
@import './profiles.scss';
@import './sizes.scss';
@import './dialogs.scss';
@import './input.scss';
@import './reservations.scss';
@import './cards.scss';
@import './availabilities.scss';

.border-top-bottom {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}
