.reservation-summary-element {
  margin-right: 4rem;
  margin-bottom: 1rem;
}

.itinerary-reservation-fixed-div-1 {
  position: sticky !important;
  top: 4rem;
  height: 5rem;
  z-index: 5;
}

.itinerary-reservation-fixed-div-2 {
  position: sticky !important;
  top: 9rem;
  z-index: 5;
}
